### <b> Step 1: Importing Required Libraries </b>
We import essential Python libraries for data manipulation and visualization:  
- **Pandas** for handling datasets.  
- **NumPy** for numerical computations.  
- **Matplotlib** and **Seaborn** for static data visualizations.  
- **Plotly Express** for interactive charts.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import kagglehub
import warnings
warnings.filterwarnings('ignore')

colors = ["#89CFF0", "#FF69B4", "#FFD700", "#7B68EE", "#FF4500",
          "#9370DB", "#32CD32", "#8A2BE2", "#AE4532", "#20B2AA",
          "#FF69B4", "#00CED1", "#FF7F50", "#7FFF00", "#DA70D6"]

C:\Users\Lenovo\AppData\Roaming\Python\Python313\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### <b> Step2: Downloading the Dataset from Kaggle </b>

In this step, we use the **KaggleHub** library to download the dataset directly from Kaggle.  
- `kagglehub.dataset_download("kamilpytlak/personal-key-indicators-of-heart-disease")` fetches the dataset titled *"Personal Key Indicators of Heart Disease"* from Kaggle and stores it locally.  
- The variable `path` stores the local directory path where the dataset files are downloaded.  
- `print("Path to dataset files:", path)` displays the location so we can easily access and load the data in the next steps.

In [3]:
path = kagglehub.dataset_download("kamilpytlak/personal-key-indicators-of-heart-disease")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Lenovo\.cache\kagglehub\datasets\kamilpytlak\personal-key-indicators-of-heart-disease\versions\6

In [4]:
Data_path=path+'/2022/heart_2022_with_nans.csv'
Data =pd.read_csv(Data_path)

### <b> Step 3: Exploring the Dataset </b>
We start exploring the dataset to understand its structure and content.  
- `Data.info()` → shows data types and missing values.  
- `Data.head()` → displays the first few rows.  
- `Data.describe()` → gives statistical summaries of numerical columns.
- `Data.columns` → to display the names of all columns (features) in the dataset.

In [5]:
Data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,NaN,No,...,NaN,NaN,NaN,No,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,No,6.0,NaN,No,...,1.60,68.04,26.57,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,Yes,5.0,NaN,No,...,1.57,63.50,25.61,No,No,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,NaN,No,...,1.65,63.50,23.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,NaN,No,...,1.57,53.98,21.77,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [6]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 40 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      445132 non-null  object
 1   Sex                        445132 non-null  object
 2   GeneralHealth              443934 non-null  object
 3   PhysicalHealthDays         434205 non-null  float64
 4   MentalHealthDays           436065 non-null  float64
 5   LastCheckupTime            436824 non-null  object
 6   PhysicalActivities         444039 non-null  object
 7   SleepHours                 439679 non-null  float64
 8   RemovedTeeth               433772 non-null  object
 9   HadHeartAttack             442067 non-null  object
 10  HadAngina                  440727 non-null  object
 11  HadStroke                  443575 non-null  object
 12  HadAsthma                  443359 non-null  object
 13  HadSkinCancer              441989 non-null  object
 14  HadCOPD                    442913 non-null  object
 15  HadDepressiveDisorder      442320 non-null  object
 16  HadKidneyDisease           443206 non-null  object
 17  HadArthritis               442499 non-null  object
 18  HadDiabetes                444045 non-null  object
 19  DeafOrHardOfHearing        424485 non-null  object
 20  BlindOrVisionDifficulty    423568 non-null  object
 21  DifficultyConcentrating    420892 non-null  object
 22  DifficultyWalking          421120 non-null  object
 23  DifficultyDressingBathing  421217 non-null  object
 24  DifficultyErrands          419476 non-null  object
 25  SmokerStatus               409670 non-null  object
 26  ECigaretteUsage            409472 non-null  object
 27  ChestScan                  389086 non-null  object
 28  RaceEthnicityCategory      431075 non-null  object
 29  AgeCategory                436053 non-null  object
 30  HeightInMeters             416480 non-null  float64
 31  WeightInKilograms          403054 non-null  float64
 32  BMI                        396326 non-null  float64
 33  AlcoholDrinkers            398558 non-null  object
 34  HIVTesting                 379005 non-null  object
 35  FluVaxLast12               398011 non-null  object
 36  PneumoVaxEver              368092 non-null  object
 37  TetanusLast10Tdap          362616 non-null  object
 38  HighRiskLastYear           394509 non-null  object
 39  CovidPos                   394368 non-null  object
dtypes: float64(6), object(34)
memory usage: 135.8+ MB

In [7]:
Data.describe()

,PhysicalHealthDays,MentalHealthDays,SleepHours,HeightInMeters,WeightInKilograms,BMI
count,434205.000000,436065.000000,439679.000000,416480.000000,403054.000000,396326.000000
mean,4.347919,4.382649,7.022983,1.702691,83.074470,28.529842
std,8.688912,8.387475,1.502425,0.107177,21.448173,6.554889
min,0.000000,0.000000,1.000000,0.910000,22.680000,12.020000
25%,0.000000,0.000000,6.000000,1.630000,68.040000,24.130000
50%,0.000000,0.000000,7.000000,1.700000,80.740000,27.440000
75%,3.000000,5.000000,8.000000,1.780000,95.250000,31.750000
max,30.000000,30.000000,24.000000,2.410000,292.570000,99.640000

In [8]:
Data.columns

Index(['State', 'Sex', 'GeneralHealth', 'PhysicalHealthDays',
       'MentalHealthDays', 'LastCheckupTime', 'PhysicalActivities',
       'SleepHours', 'RemovedTeeth', 'HadHeartAttack', 'HadAngina',
       'HadStroke', 'HadAsthma', 'HadSkinCancer', 'HadCOPD',
       'HadDepressiveDisorder', 'HadKidneyDisease', 'HadArthritis',
       'HadDiabetes', 'DeafOrHardOfHearing', 'BlindOrVisionDifficulty',
       'DifficultyConcentrating', 'DifficultyWalking',
       'DifficultyDressingBathing', 'DifficultyErrands', 'SmokerStatus',
       'ECigaretteUsage', 'ChestScan', 'RaceEthnicityCategory', 'AgeCategory',
       'HeightInMeters', 'WeightInKilograms', 'BMI', 'AlcoholDrinkers',
       'HIVTesting', 'FluVaxLast12', 'PneumoVaxEver', 'TetanusLast10Tdap',
       'HighRiskLastYear', 'CovidPos'],
      dtype='object')

In [9]:
Data.isna().sum()

State                            0
Sex                              0
GeneralHealth                 1198
PhysicalHealthDays           10927
MentalHealthDays              9067
LastCheckupTime               8308
PhysicalActivities            1093
SleepHours                    5453
RemovedTeeth                 11360
HadHeartAttack                3065
HadAngina                     4405
HadStroke                     1557
HadAsthma                     1773
HadSkinCancer                 3143
HadCOPD                       2219
HadDepressiveDisorder         2812
HadKidneyDisease              1926
HadArthritis                  2633
HadDiabetes                   1087
DeafOrHardOfHearing          20647
BlindOrVisionDifficulty      21564
DifficultyConcentrating      24240
DifficultyWalking            24012
DifficultyDressingBathing    23915
DifficultyErrands            25656
SmokerStatus                 35462
ECigaretteUsage              35660
ChestScan                    56046
RaceEthnicityCategory        14057
AgeCategory                   9079
HeightInMeters               28652
WeightInKilograms            42078
BMI                          48806
AlcoholDrinkers              46574
HIVTesting                   66127
FluVaxLast12                 47121
PneumoVaxEver                77040
TetanusLast10Tdap            82516
HighRiskLastYear             50623
CovidPos                     50764
dtype: int64

###  <b>Step 4: Splitting the Dataset into Logical Feature Groups</b>

In this step, we organize the dataset into multiple smaller DataFrames based on feature categories.  
This makes the analysis, cleaning, and visualization process more structured and manageable, especially since the dataset has many columns.

- **`Data_Demographics`** →
  *These features describe personal and social background.*

- **`Data_lifestyle`** →
  *Used to study how daily habits affect health risks.*

- **`Data_general`** → 
  *Helps understand overall well-being and recent checkup frequency.*

- **`Data_disease`** → 
  *These columns will be key predictors for heart disease risk.*

- **`Data_disability`** → 
  *Represents functional limitations that may correlate with health status.*

- **`Data_body`** → 
  *Useful for identifying patterns related to obesity or general physical condition.*

- **`Data_vaccine`** →  *May help assess preventive healthcare behavior.*

- **`target`** →  *These are the outcomes that predictive models can be trained on later.*

<b> Overall, this segmentation improves clarity, reduces complexity, and prepares the dataset for focused EDA and modeling. </b>

In [10]:
Data_Demographics=Data[['State','Sex','RaceEthnicityCategory','AgeCategory']]
Data_lifestyle = Data[['PhysicalActivities', 'SleepHours', 'SmokerStatus', 'AlcoholDrinkers', 'ECigaretteUsage']]
Data_general = Data[['GeneralHealth', 'PhysicalHealthDays', 'MentalHealthDays', 'LastCheckupTime']]
Data_disease = Data[['HadHeartAttack','HadAngina','HadStroke','HadAsthma','HadSkinCancer','HadCOPD','HadDepressiveDisorder','HadKidneyDisease','HadArthritis','HadDiabetes']]
Data_disability = Data[['DeafOrHardOfHearing','BlindOrVisionDifficulty','DifficultyConcentrating','DifficultyWalking','DifficultyDressingBathing','DifficultyErrands']]
Data_body = Data[['HeightInMeters','WeightInKilograms','BMI','RemovedTeeth']]
Data_vaccine = Data[['ChestScan','HIVTesting','FluVaxLast12','PneumoVaxEver','TetanusLast10Tdap','HighRiskLastYear']]
target = Data[['HadHeartAttack','CovidPos']]

### <b> Detecting Outliers Using IQR </b>

This function identifies outliers in a numeric column using the **Interquartile Range (IQR)** method.

- Calculates the **25th percentile (Q1)** and **75th percentile (Q3)**.  
- Computes the **IQR** as Q3 − Q1.  
- Defines outliers as values below Q1 − 1.5×IQR or above Q3 + 1.5×IQR.  
- Returns only the rows containing these outlier values.

**Purpose:**  
<b>To detect extreme values that may distort analysis or modeling results.</b>

In [11]:
def detect_outliers(df, column):
    """
    Detect outliers in a specific column using the IQR method.
    Returns only the rows that contain outliers.
    """
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

### <b> Imputing Missing Values Using Distribution </b>

This function fills missing values in a column while preserving the original distribution of categories.  

- It first identifies missing entries in the specified column.  
- If there are no missing values, it returns the column unchanged.  
- Otherwise, it calculates the relative frequency (probability) of each category.  
- Missing values are then randomly assigned based on these probabilities, ensuring the distribution remains consistent.  

**Purpose:**  
<b>To handle missing categorical data without distorting the dataset’s natural proportions. </b>

In [12]:
def fill_column_by_distribution(df, col_name):
    column = df[col_name]
    mask = column.isna()
    
    if mask.sum() == 0:
        return column
    
    probs = column.value_counts(normalize=True)
    categories = probs.index
    weights = probs.values
    
    column.loc[mask] = np.random.choice(categories, size=mask.sum(), p=weights)
    return column

### Step: Cleaning <b>Demographic Data</b>

We checked the demographic features for missing values and inconsistencies.  
Missing `RaceEthnicityCategory` values were replaced with the most frequent category.  
Missing `AgeCategory` values were filled while keeping the original distribution.  
<b> Now, the demographic data is complete, consistent, and ready for analysis.</b>

In [13]:
Data_Demographics.sample(5)

                State     Sex      RaceEthnicityCategory      AgeCategory
439009    Puerto Rico    Male                   Hispanic     Age 35 to 39
229286       Nebraska  Female   White only, Non-Hispanic  Age 80 or older
395524     Washington    Male  Multiracial, Non-Hispanic     Age 18 to 24
176383  Massachusetts    Male   White only, Non-Hispanic     Age 18 to 24
414201     Washington  Female   White only, Non-Hispanic     Age 65 to 69

In [14]:
Data_Demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 4 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   State                  445132 non-null  object
 1   Sex                    445132 non-null  object
 2   RaceEthnicityCategory  431075 non-null  object
 3   AgeCategory            436053 non-null  object
dtypes: object(4)
memory usage: 13.6+ MB

In [15]:
Data_Demographics.describe()

             State     Sex     RaceEthnicityCategory   AgeCategory
count       445132  445132                    431075        436053
unique          54       2                         5            13
top     Washington  Female  White only, Non-Hispanic  Age 65 to 69
freq         26152  235893                    320421         47099

In [16]:
Data_Demographics.isna().sum()

State                        0
Sex                          0
RaceEthnicityCategory    14057
AgeCategory               9079
dtype: int64

In [17]:
Data['RaceEthnicityCategory'].fillna(Data['RaceEthnicityCategory'].mode()[0], inplace=True)

In [18]:
probs=Data['AgeCategory'].value_counts(normalize=True)
probs

AgeCategory
Age 65 to 69       0.108012
Age 60 to 64       0.102077
Age 70 to 74       0.099694
Age 55 to 59       0.084442
Age 80 or older    0.083134
Age 50 to 54       0.077156
Age 75 to 79       0.074574
Age 40 to 44       0.068666
Age 45 to 49       0.065430
Age 35 to 39       0.065419
Age 18 to 24       0.061784
Age 30 to 34       0.059183
Age 25 to 29       0.050430
Name: proportion, dtype: float64

In [19]:
fill_column_by_distribution(Data,'AgeCategory')

0         Age 80 or older
1         Age 80 or older
2            Age 55 to 59
3            Age 75 to 79
4            Age 40 to 44
               ...
445127       Age 18 to 24
445128       Age 50 to 54
445129       Age 65 to 69
445130       Age 70 to 74
445131       Age 40 to 44
Name: AgeCategory, Length: 445132, dtype: object

In [20]:
Data[['AgeCategory','RaceEthnicityCategory']].isna().sum()

AgeCategory              0
RaceEthnicityCategory    0
dtype: int64

### Step: Cleaning <b>Lifestyle Data</b>

In this step, we focused on ensuring the lifestyle-related features are complete and accurate.  
We started by checking the dataset for missing values and inspecting the overall structure.  
Rows with missing entries in key columns such as `PhysicalActivities`, `SleepHours`, `SmokerStatus`, `AlcoholDrinkers`, and `ECigaretteUsage` were removed to maintain data integrity.  
Next, we identified extreme values in `SleepHours` using the <b>IQR method</b> and removed these outliers to avoid skewing the analysis.  
After these steps, the `Data_lifestyle` dataset is clean, consistent, and ready for exploration, visualization, and further analysis.

In [21]:
Data_lifestyle.sample(5)

,PhysicalActivities,SleepHours,SmokerStatus,AlcoholDrinkers,ECigaretteUsage
253099,Yes,6.0,Former smoker,No,Never used e-cigarettes in my entire life
383818,Yes,7.0,Former smoker,Yes,Never used e-cigarettes in my entire life
181202,Yes,7.0,Never smoked,No,Never used e-cigarettes in my entire life
283196,Yes,6.0,Never smoked,Yes,Never used e-cigarettes in my entire life
125569,Yes,6.0,Never smoked,No,Never used e-cigarettes in my entire life

In [22]:
Data_lifestyle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PhysicalActivities  444039 non-null  object
 1   SleepHours          439679 non-null  float64
 2   SmokerStatus        409670 non-null  object
 3   AlcoholDrinkers     398558 non-null  object
 4   ECigaretteUsage     409472 non-null  object
dtypes: float64(1), object(4)
memory usage: 17.0+ MB

In [23]:
display(Data_lifestyle.describe(include=object),Data_lifestyle.describe())

,PhysicalActivities,SmokerStatus,AlcoholDrinkers,ECigaretteUsage
count,444039,409670,398558,409472
unique,2,4,2,4
top,Yes,Never smoked,Yes,Never used e-cigarettes in my entire life
freq,337559,245955,210891,311988

          SleepHours
count  439679.000000
mean        7.022983
std         1.502425
min         1.000000
25%         6.000000
50%         7.000000
75%         8.000000
max        24.000000

In [24]:
Data_lifestyle.isna().sum()

PhysicalActivities     1093
SleepHours             5453
SmokerStatus          35462
AlcoholDrinkers       46574
ECigaretteUsage       35660
dtype: int64

In [25]:
Data.dropna(subset=['PhysicalActivities','SleepHours','SmokerStatus','AlcoholDrinkers','ECigaretteUsage'],inplace=True)

In [26]:
Data[['SleepHours','PhysicalActivities','SmokerStatus','AlcoholDrinkers','ECigaretteUsage']].isna().sum()

SleepHours            0
PhysicalActivities    0
SmokerStatus          0
AlcoholDrinkers       0
ECigaretteUsage       0
dtype: int64

In [27]:
outliers = detect_outliers(Data, 'SleepHours')
Data = Data.drop(outliers.index)

### Step: Cleaning <b>General Health Features</b>

We reviewed the general health data for completeness and accuracy.  
Missing values in `LastCheckupTime` were replaced with the most common category.  
Missing entries in `GeneralHealth` were filled using probability-based sampling to maintain the original distribution.  
The dataset is now clean, consistent, and ready for further analysis.

In [28]:
Data_general.sample(5)

,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime
290230,Poor,30.0,0.0,Within past 2 years (1 year but less than 2 ye...
389351,Very good,0.0,3.0,Within past year (anytime less than 12 months ...
177126,Good,0.0,0.0,5 or more years ago
249509,Very good,0.0,0.0,Within past year (anytime less than 12 months ...
326949,Good,0.0,10.0,Within past 2 years (1 year but less than 2 ye...

In [29]:
Data_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   GeneralHealth       443934 non-null  object
 1   PhysicalHealthDays  434205 non-null  float64
 2   MentalHealthDays    436065 non-null  float64
 3   LastCheckupTime     436824 non-null  object
dtypes: float64(2), object(2)
memory usage: 13.6+ MB

In [30]:
display(Data_general.describe(include=object),Data_general.describe())

       GeneralHealth                                    LastCheckupTime
count         443934                                             436824
unique             5                                                  4
top        Very good  Within past year (anytime less than 12 months ...
freq          148444                                             350944

       PhysicalHealthDays  MentalHealthDays
count       434205.000000     436065.000000
mean             4.347919          4.382649
std              8.688912          8.387475
min              0.000000          0.000000
25%              0.000000          0.000000
50%              0.000000          0.000000
75%              3.000000          5.000000
max             30.000000         30.000000

In [31]:
Data_general.isna().sum()

GeneralHealth          1198
PhysicalHealthDays    10927
MentalHealthDays       9067
LastCheckupTime        8308
dtype: int64

In [32]:
Data.dropna(subset=['MentalHealthDays','PhysicalHealthDays'], inplace=True)

In [33]:
Data[['MentalHealthDays','PhysicalHealthDays']].isna().sum()

MentalHealthDays      0
PhysicalHealthDays    0
dtype: int64

In [34]:
Data['GeneralHealth'].value_counts(normalize=True)

GeneralHealth
Very good    0.346887
Good         0.321439
Excellent    0.163782
Fair         0.128635
Poor         0.039256
Name: proportion, dtype: float64

In [35]:
Data['LastCheckupTime'].fillna(Data['LastCheckupTime'].mode()[0],inplace=True)
fill_column_by_distribution(Data,'GeneralHealth')

0         Very good
1         Excellent
2         Very good
3         Excellent
4              Fair
            ...
445124         Good
445126         Good
445128    Excellent
445130    Very good
445131    Very good
Name: GeneralHealth, Length: 371174, dtype: object

In [36]:
Data[['LastCheckupTime','GeneralHealth']].isna().sum()

LastCheckupTime    0
GeneralHealth      0
dtype: int64

### Step: Cleaning <b>Disease Features</b>

We reviewed the disease-related columns for missing values.  
Rows with missing data in key features were removed, as the proportion of nulls was small.  
Categorical responses (`Yes`/`No`) were converted to numeric values (1/0) for consistency.  
Removing these few nulls ensures data integrity and reliable analysis.  
The dataset is now complete, clean, and ready for modeling.  
All disease features are consistent and numeric.

In [37]:
Data_disease.sample(5)

,HadHeartAttack,HadAngina,HadStroke,HadAsthma,HadSkinCancer,HadCOPD,HadDepressiveDisorder,HadKidneyDisease,HadArthritis,HadDiabetes
409055,No,No,No,No,No,No,No,No,No,No
111081,No,No,No,No,No,No,No,No,No,No
333070,Yes,No,No,No,No,No,No,No,Yes,No
392697,No,No,No,No,No,No,Yes,No,No,Yes
86046,No,No,No,No,No,No,No,No,Yes,No

In [38]:
Data_disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   HadHeartAttack         442067 non-null  object
 1   HadAngina              440727 non-null  object
 2   HadStroke              443575 non-null  object
 3   HadAsthma              443359 non-null  object
 4   HadSkinCancer          441989 non-null  object
 5   HadCOPD                442913 non-null  object
 6   HadDepressiveDisorder  442320 non-null  object
 7   HadKidneyDisease       443206 non-null  object
 8   HadArthritis           442499 non-null  object
 9   HadDiabetes            444045 non-null  object
dtypes: object(10)
memory usage: 34.0+ MB

In [39]:
Data_disease.describe()

,HadHeartAttack,HadAngina,HadStroke,HadAsthma,HadSkinCancer,HadCOPD,HadDepressiveDisorder,HadKidneyDisease,HadArthritis,HadDiabetes
count,442067,440727,443575,443359,441989,442913,442320,443206,442499,444045
unique,2,2,2,2,2,2,2,2,2,4
top,No,No,No,No,No,No,No,No,No,No
freq,416959,414176,424336,376665,406504,407257,350910,422891,291351,368722

In [40]:
Data['HadDiabetes'].value_counts(dropna=False)

HadDiabetes
No                                         309016
Yes                                         49828
No, pre-diabetes or borderline diabetes      8531
Yes, but only during pregnancy (female)      3194
NaN                                           605
Name: count, dtype: int64

In [41]:
missing_count = Data_disease.isna().sum()
missing_percentage = ((missing_count / len(Data)) * 100).round(3)
missing_summary = pd.DataFrame({'MissingCount': missing_count,'MissingPercentage': missing_percentage})
missing_summary[missing_summary['MissingCount'] > 0].sort_values(by='MissingPercentage', ascending=False)

                       MissingCount  MissingPercentage
HadAngina                      4405              1.187
HadSkinCancer                  3143              0.847
HadHeartAttack                 3065              0.826
HadDepressiveDisorder          2812              0.758
HadArthritis                   2633              0.709
HadCOPD                        2219              0.598
HadKidneyDisease               1926              0.519
HadAsthma                      1773              0.478
HadStroke                      1557              0.419
HadDiabetes                    1087              0.293

In [42]:
columns = ['HadAngina','HadSkinCancer','HadHeartAttack','HadDepressiveDisorder',
           'HadArthritis','HadCOPD','HadKidneyDisease','HadAsthma','HadStroke','HadDiabetes']
Data.dropna(subset=columns, inplace=True)

In [43]:
Data[columns].isna().sum()

HadAngina                0
HadSkinCancer            0
HadHeartAttack           0
HadDepressiveDisorder    0
HadArthritis             0
HadCOPD                  0
HadKidneyDisease         0
HadAsthma                0
HadStroke                0
HadDiabetes              0
dtype: int64

In [44]:
Data[columns] = Data[columns].replace({'Yes':1,'No':0})
Data['HadDiabetes'] = Data['HadDiabetes'].replace({'No, pre-diabetes or borderline diabetes': 0,'Yes, but only during pregnancy (female)': 1})

In [45]:
Data[columns]

,HadAngina,HadSkinCancer,HadHeartAttack,HadDepressiveDisorder,HadArthritis,HadCOPD,HadKidneyDisease,HadAsthma,HadStroke,HadDiabetes
0,0,0,0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
445124,0,0,0,0,1,0,0,0,1,1
445126,0,0,0,0,0,0,0,0,0,0
445128,0,0,0,0,0,0,0,0,0,0
445130,0,0,1,0,0,0,0,1,0,0
445131,0,0,0,0,0,0,0,0,0,0

In [46]:
(Data[columns]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 357944 entries, 0 to 445131
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   HadAngina              357944 non-null  int64
 1   HadSkinCancer          357944 non-null  int64
 2   HadHeartAttack         357944 non-null  int64
 3   HadDepressiveDisorder  357944 non-null  int64
 4   HadArthritis           357944 non-null  int64
 5   HadCOPD                357944 non-null  int64
 6   HadKidneyDisease       357944 non-null  int64
 7   HadAsthma              357944 non-null  int64
 8   HadStroke              357944 non-null  int64
 9   HadDiabetes            357944 non-null  int64
dtypes: int64(10)
memory usage: 30.0 MB

In [47]:
Data['HadDiabetes'].value_counts()

HadDiabetes
0    307633
1     50311
Name: count, dtype: int64

### STEP :cleaning  <b>Disability features</b>
We identified missing values within the Disability columns.
Since the proportion of nulls was minimal, those rows were removed to maintain data quality.
All categorical responses `(Yes/No)` were then encoded as numeric values `(1/0)` for uniformity.
By eliminating the few missing entries, the dataset became more consistent and reliable for analysis.
Now, all disability-related features are `numeric` , `clean` , and `fully prepared for modeling` .

In [48]:
Data_disability.sample(5)

,DeafOrHardOfHearing,BlindOrVisionDifficulty,DifficultyConcentrating,DifficultyWalking,DifficultyDressingBathing,DifficultyErrands
398340,No,No,No,No,No,No
106,No,No,No,No,No,No
405662,No,No,No,No,No,No
335717,No,No,No,No,No,No
442292,No,No,No,No,No,No

In [49]:
Data_disability.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   DeafOrHardOfHearing        424485 non-null  object
 1   BlindOrVisionDifficulty    423568 non-null  object
 2   DifficultyConcentrating    420892 non-null  object
 3   DifficultyWalking          421120 non-null  object
 4   DifficultyDressingBathing  421217 non-null  object
 5   DifficultyErrands          419476 non-null  object
dtypes: object(6)
memory usage: 20.4+ MB

In [50]:
display(pd.DataFrame({
    'Non-Null Count': Data_disability.count(),
    'Missing Count': Data_disability.isna().sum(),
    'Missing Percentage': (Data_disability.isna().sum() / len(Data_disability) * 100).round(3),
}))

                           Non-Null Count  Missing Count  Missing Percentage
DeafOrHardOfHearing                424485          20647               4.638
BlindOrVisionDifficulty            423568          21564               4.844
DifficultyConcentrating            420892          24240               5.446
DifficultyWalking                  421120          24012               5.394
DifficultyDressingBathing          421217          23915               5.373
DifficultyErrands                  419476          25656               5.764

In [51]:
disability_columns = ['DeafOrHardOfHearing','BlindOrVisionDifficulty','DifficultyConcentrating',
                    'DifficultyWalking','DifficultyDressingBathing','DifficultyErrands']
Data.dropna(subset=disability_columns,inplace=True)

In [52]:
Data[disability_columns].isna().sum()

DeafOrHardOfHearing          0
BlindOrVisionDifficulty      0
DifficultyConcentrating      0
DifficultyWalking            0
DifficultyDressingBathing    0
DifficultyErrands            0
dtype: int64

In [53]:
for col in Data[disability_columns]:
    print(f"\n{col} : {Data[col].nunique()} unique values")
    print(Data[col].unique())

DeafOrHardOfHearing : 2 unique values
['No' 'Yes']

BlindOrVisionDifficulty : 2 unique values
['No' 'Yes']

DifficultyConcentrating : 2 unique values
['No' 'Yes']

DifficultyWalking : 2 unique values
['No' 'Yes']

DifficultyDressingBathing : 2 unique values
['No' 'Yes']

DifficultyErrands : 2 unique values
['No' 'Yes']

In [54]:
Data[disability_columns] = Data[disability_columns].replace({'Yes':1,'No':0})

### STEP : cleaning <b>Body features </b>
We handled missing values in the HeightInMeters, WeightInKilograms, and BMI columns carefully to ensure realistic and consistent data.
Since the missing proportion was small, missing values were replaced using the `median` , which is `less sensitive` to outliers and preserves the overall data distribution.
All extreme values were examined and retained, as they represent possible real human variations.

The outliers were real values but rare so not deleted.

For the RemovedTeeth column, which contained categorical responses (None of them, 1 to 5, 6 or more, but not all, All), missing values were filled based on the `Mode` becouse, the missing proportion was small.

In [55]:
Data_body.sample(5)

        HeightInMeters  WeightInKilograms    BMI            RemovedTeeth
124947            1.60              71.21  27.81            None of them
77179              NaN                NaN    NaN                     All
67066             1.83              92.99  27.80            None of them
55950             1.45              99.79  47.61  6 or more, but not all
21961             1.91              86.18  23.75  6 or more, but not all

In [56]:
Data_body.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   HeightInMeters     416480 non-null  float64
 1   WeightInKilograms  403054 non-null  float64
 2   BMI                396326 non-null  float64
 3   RemovedTeeth       433772 non-null  object
dtypes: float64(3), object(1)
memory usage: 13.6+ MB

In [57]:
outliers_height= detect_outliers(Data_body,'HeightInMeters')
outliers_height

        HeightInMeters  WeightInKilograms    BMI            RemovedTeeth
555               1.24              86.18  55.64  6 or more, but not all
874               1.22             136.08  91.55                  1 to 5
902               1.22              44.91  30.21                     All
1534              2.03              70.31  17.03                     NaN
1551              2.01              95.25  23.66                     NaN
...                ...                ...    ...                     ...
444695            2.13              68.04  14.95                  1 to 5
444721            1.27              63.50  39.37            None of them
444851            2.01             106.14  26.36                     NaN
444939            1.35              63.05  34.79  6 or more, but not all
445109            1.35              36.29  20.02            None of them

[1556 rows x 4 columns]

In [58]:
outliers_weight= detect_outliers(Data_body, 'WeightInKilograms')
outliers_weight

        HeightInMeters  WeightInKilograms    BMI            RemovedTeeth
48                1.73             136.08  45.61                     NaN
142               1.60             145.15  56.68                     NaN
158               1.83             158.76  47.47                     NaN
208               1.63             136.08  51.49                     NaN
336               1.85             136.08  39.58                     NaN
...                ...                ...    ...                     ...
444674            1.73             136.08  45.61  6 or more, but not all
444854            1.83             158.76  47.47                  1 to 5
444987            1.83             170.10  50.86                  1 to 5
445008            1.68             163.29  58.10                  1 to 5
445081            1.73             142.88  47.90  6 or more, but not all

[9643 rows x 4 columns]

In [59]:
print("Max height:", Data_body['HeightInMeters'].max())
print("Min height:", Data_body['HeightInMeters'].min())
print("Max weight:", Data_body['WeightInKilograms'].max())
print("Min weight:", Data_body['WeightInKilograms'].min())

Max height: 2.41
Min height: 0.91
Max weight: 292.57
Min weight: 22.68

In [60]:
display(pd.DataFrame({
    'Non-Null Count': Data_body.count(),
    'Missing Count': Data_body.isna().sum(),
    'Missing Percentage': (Data_body.isna().sum() / len(Data_body) * 100).round(3),
}))

                   Non-Null Count  Missing Count  Missing Percentage
HeightInMeters             416480          28652               6.437
WeightInKilograms          403054          42078               9.453
BMI                        396326          48806              10.964
RemovedTeeth               433772          11360               2.552

In [61]:
print(Data_body['RemovedTeeth'].unique())

[nan 'None of them' '1 to 5' '6 or more, but not all' 'All']

In [62]:
Data['HeightInMeters'].fillna(Data['HeightInMeters'].median(), inplace=True)
Data['WeightInKilograms'].fillna(Data['WeightInKilograms'].median(), inplace=True)
Data['BMI'] = (Data['WeightInKilograms'] / (Data['HeightInMeters'] ** 2)).round(2)
Data['RemovedTeeth'].fillna(Data['RemovedTeeth'].mode()[0], inplace=True)

In [63]:
body_columns = ['HeightInMeters','WeightInKilograms','BMI','RemovedTeeth']
Data[body_columns].sample(5)

        HeightInMeters  WeightInKilograms    BMI  RemovedTeeth
83766             1.52              54.43  23.56  None of them
395312            1.88              77.11  21.82  None of them
353228            1.85              81.65  23.86  None of them
273811            1.60              77.11  30.12        1 to 5
166348            1.70              81.65  28.25  None of them

In [64]:
Data[body_columns].isna().sum()

HeightInMeters       0
WeightInKilograms    0
BMI                  0
RemovedTeeth         0
dtype: int64

###  STEP: Cleaning **Vaccine Tests**

We standardized the values in the **`TetanusLast10Tdap`** column by:
- Replacing all valid entries with either **`Yes`** or **`No`**.
- Handling and imputing **missing values** to maintain data consistency.

In [65]:
Data_vaccine.sample(5)

,ChestScan,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear
84296,Yes,Yes,Yes,No,"Yes, received Tdap",No
8178,NaN,NaN,NaN,NaN,NaN,NaN
152711,Yes,No,No,Yes,"Yes, received tetanus shot but not sure what type",No
29369,No,No,No,No,NaN,No
362342,No,Yes,Yes,No,"Yes, received tetanus shot but not sure what type",Yes

In [66]:
Data_vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ChestScan          389086 non-null  object
 1   HIVTesting         379005 non-null  object
 2   FluVaxLast12       398011 non-null  object
 3   PneumoVaxEver      368092 non-null  object
 4   TetanusLast10Tdap  362616 non-null  object
 5   HighRiskLastYear   394509 non-null  object
dtypes: object(6)
memory usage: 20.4+ MB

In [67]:
Data_vaccine.describe()

,ChestScan,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear
count,389086,379005,398011,368092,362616,394509
unique,2,2,2,2,4,2
top,No,No,Yes,No,"No, did not receive any tetanus shot in the pa...",No
freq,223221,249919,209256,215604,121493,377324

In [68]:
Data_vaccine['TetanusLast10Tdap'].unique()

array(['Yes, received tetanus shot but not sure what type',
       'No, did not receive any tetanus shot in the past 10 years', nan,
       'Yes, received Tdap', 'Yes, received tetanus shot, but not Tdap'],
      dtype=object)

In [69]:
Data['TetanusLast10Tdap'].replace({'Yes, received tetanus shot but not sure what type': 'Yes',
                                           'No, did not receive any tetanus shot in the past 10 years': 'No',
                                           'Yes, received Tdap': 'Yes',
                                           'Yes, received tetanus shot, but not Tdap': 'Yes'}, inplace=True)

In [70]:
display(Data_vaccine.isna().sum())

ChestScan            56046
HIVTesting           66127
FluVaxLast12         47121
PneumoVaxEver        77040
TetanusLast10Tdap    82516
HighRiskLastYear     50623
dtype: int64

In [71]:
Data.dropna(subset=Data_vaccine.columns, inplace=True)
Data.shape

(273614, 40)

In [72]:
Data[Data_vaccine.columns].isna().sum()

ChestScan            0
HIVTesting           0
FluVaxLast12         0
PneumoVaxEver        0
TetanusLast10Tdap    0
HighRiskLastYear     0
dtype: int64

In [73]:
Data[Data_vaccine.columns]=Data[Data_vaccine.columns].replace({'Yes':1,'No':0})

In [74]:
Data[Data_vaccine.columns]

,ChestScan,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear
0,0,0,1,0,1,0
1,0,0,0,0,0,0
3,1,0,1,1,0,0
4,1,0,0,1,0,0
5,0,0,0,1,0,0
...,...,...,...,...,...,...
445123,0,0,0,0,0,0
445124,0,1,1,1,1,0
445128,0,1,1,0,1,0
445130,1,1,1,1,0,0
445131,1,0,0,0,1,0

###  Step: Cleaning <b>Target Features</b>

We reviewed the target columns to ensure completeness and consistency.  
Missing values were identified and handled to maintain data reliability.  
This step prepares the target variables for accurate model training and evaluation.

In [75]:
target.sample(5)

       HadHeartAttack CovidPos
308950             No      Yes
366667            Yes       No
95557              No       No
392937             No       No
128901             No       No

In [76]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HadHeartAttack  442067 non-null  object
 1   CovidPos        394368 non-null  object
dtypes: object(2)
memory usage: 6.8+ MB

In [77]:
target.describe()

       HadHeartAttack CovidPos
count          442067   394368
unique              2        3
top                No       No
freq           416959   270055

In [78]:
target.isna().sum()

HadHeartAttack     3065
CovidPos          50764
dtype: int64

In [79]:
Data.drop(columns='CovidPos',axis=1,inplace=True)

In [80]:
Data.dropna(subset=['HadHeartAttack'], inplace=True)

In [81]:
Data.isna().sum()

State                        0
Sex                          0
GeneralHealth                0
PhysicalHealthDays           0
MentalHealthDays             0
LastCheckupTime              0
PhysicalActivities           0
SleepHours                   0
RemovedTeeth                 0
HadHeartAttack               0
HadAngina                    0
HadStroke                    0
HadAsthma                    0
HadSkinCancer                0
HadCOPD                      0
HadDepressiveDisorder        0
HadKidneyDisease             0
HadArthritis                 0
HadDiabetes                  0
DeafOrHardOfHearing          0
BlindOrVisionDifficulty      0
DifficultyConcentrating      0
DifficultyWalking            0
DifficultyDressingBathing    0
DifficultyErrands            0
SmokerStatus                 0
ECigaretteUsage              0
ChestScan                    0
RaceEthnicityCategory        0
AgeCategory                  0
HeightInMeters               0
WeightInKilograms            0
BMI                          0
AlcoholDrinkers              0
HIVTesting                   0
FluVaxLast12                 0
PneumoVaxEver                0
TetanusLast10Tdap            0
HighRiskLastYear             0
dtype: int64

In [82]:
Data.shape

(273614, 39)

In [83]:
display(Data.value_counts())

State    Sex     GeneralHealth  PhysicalHealthDays  MentalHealthDays  LastCheckupTime                                          PhysicalActivities  SleepHours  RemovedTeeth            HadHeartAttack  HadAngina  HadStroke  HadAsthma  HadSkinCancer  HadCOPD  HadDepressiveDisorder  HadKidneyDisease  HadArthritis  HadDiabetes  DeafOrHardOfHearing  BlindOrVisionDifficulty  DifficultyConcentrating  DifficultyWalking  DifficultyDressingBathing  DifficultyErrands  SmokerStatus   ECigaretteUsage                            ChestScan  RaceEthnicityCategory     AgeCategory   HeightInMeters  WeightInKilograms  BMI    AlcoholDrinkers  HIVTesting  FluVaxLast12  PneumoVaxEver  TetanusLast10Tdap  HighRiskLastYear
Guam     Male    Good           0.0                 0.0               Within past year (anytime less than 12 months ago)       No                  7.0         1 to 5                  0               0          0          0          0              0        0                      0                 0             0            1                    1                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  1          White only, Non-Hispanic  Age 65 to 69  1.83            92.99              27.77  Yes              0           0             0              0                  0                   2
Arizona  Female  Excellent      0.0                 0.0               Within past year (anytime less than 12 months ago)       Yes                 7.0         None of them            0               0          0          0          1              0        0                      0                 1             0            0                    0                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  0          White only, Non-Hispanic  Age 75 to 79  1.63            56.70              21.34  Yes              0           1             1              1                  0                   2
Kansas   Female  Very good      0.0                 0.0               Within past year (anytime less than 12 months ago)       Yes                 7.0         None of them            0               0          0          0          0              0        0                      0                 0             0            0                    0                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  0          White only, Non-Hispanic  Age 65 to 69  1.68            63.50              22.50  No               0           1             0              1                  0                   2
Maine    Female  Very good      0.0                 0.0               Within past year (anytime less than 12 months ago)       Yes                 9.0         6 or more, but not all  0               0          0          0          0              0        0                      0                 0             0            0                    0                        0                        0                  0                          0                  Former smoker  Never used e-cigarettes in my entire life  0          White only, Non-Hispanic  Age 60 to 64  1.50            44.00              19.56  Yes              0           0             0              1                  0                   2
         Male    Excellent      0.0                 0.0               Within past year (anytime less than 12 months ago)       Yes                 7.0         None of them            0               0          0          0          0              0        0                      0                 0             0            0                    0                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  0          White only, Non-Hispanic  Age 65 to 69  1.85            79.38              23.19  No               0           1             0              1                  0                   2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ..
Wyoming  Male    Very good      30.0                0.0               Within past 5 years (2 years but less than 5 years ago)  Yes                 7.0         None of them            0               0          0          0          1              0        0                      0                 1             0            0                    0                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  1          White only, Non-Hispanic  Age 70 to 74  1.83            83.46              24.92  Yes              0           1             1              0                  0                   1
                                                                      Within past year (anytime less than 12 months ago)       No                  8.0         None of them            0               0          0          0          0              0        0                      0                 0             0            1                    0                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  1          White only, Non-Hispanic  Age 70 to 74  1.80            106.59             32.90  No               0           1             1              0                  0                   1
                                                                                                                               Yes                 6.0         None of them            0               0          0          0          1              0        0                      0                 1             0            0                    0                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  0          White only, Non-Hispanic  Age 65 to 69  1.93            117.03             31.42  No               1           0             0              1                  0                   1
                                                                                                                                                   7.0         None of them            0               0          0          0          0              0        0                      0                 0             0            0                    0                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  1          White only, Non-Hispanic  Age 55 to 59  1.85            79.38              23.19  Yes              0           0             0              1                  0                   1
Alabama  Female  Excellent      0.0                 0.0               Within past 2 years (1 year but less than 2 years ago)   Yes                 6.0         None of them            0               0          0          0          0              0        0                      0                 0             0            0                    0                        0                        0                  0                          0                  Never smoked   Never used e-cigarettes in my entire life  1          White only, Non-Hispanic  Age 40 to 44  1.60            58.97              23.04  No               0           1             0              1                  0                   1
Name: count, Length: 273593, dtype: int64

In [84]:
Data.to_csv('Data_Heart_clean.csv', index=False)